:root {
  --primary-color: #0077b5;
  --secondary-color: #f5f5f5;
  --accent-color: #ff6600;
  --text-color: #333;
  --background-color: #242424;
  --button-color: #1a1a1a;
  --link-color: #646cff;
  --gray : #cccccc;
}
  