:root {
  --primary-color: #2c99f1;
  --accent-color: #1664a3;
  --warning-color: #FFC107;

  --background-color: #1C1F26;
  --surface-color: #2E3A59;
  --text-color: #E0E0E0;
  --gray-outline: #a4acb1;

  --title-font: 'Orbitron', sans-serif;
  --body-font: 'Exo 2', sans-serif;
}
